/* default.css */
:root {
    --text-color: #333;
    --main-color: #E60013;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--text-color);
    background: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}